<template>
  <div class="interval-selector">
    <br />
    <input placeholder="type to filter..." v-model="filter" v-on:input="updateVisibleIntervals" />
    <br />
    <button
      @click="setAllVisible(true)"
      :disabled="Object.keys(allIntervals).length === Object.keys(filteredIntervals).length"
    >Select All</button>
    <button
      @click="setAllVisible(false)"
      :disabled="Object.keys(filteredIntervals).length == 0"
    >Deselect All</button>
    <div class="interval-list">
      <div
        class="interval"
        v-for="(int, name) in allIntervals"
        :key="name"
        v-show="visibleIntervals.indexOf(name) != -1"
        v-bind:class="{active: allIntervals[name].isActive}"
        @click="allIntervals[name].isActive = !allIntervals[name].isActive; updateActiveIntervals()"
      >{{ name }}</div>
    </div>
  </div>
</template>

<script>
export default {
  name: "IntervalSelector",
  data() {
    return {
      allIntervals: require("@/assets/intervals.json")["Intervals"],
      filteredIntervals: {},
      visibleIntervals: Object.keys(
        require("@/assets/intervals.json")["Intervals"]
      ),
      filter: ""
    };
  },
  created() {
    this.initializeActiveIntervals();
    this.updateActiveIntervals();
  },
  methods: {
    initializeActiveIntervals: function() {
      console.log(this.allIntervals);
      console.log(this.visibleIntervals);
      this.setAllVisible(true);
    },
    setAllVisible: function(statusBoolean) {
      for (var i = 0; i < this.visibleIntervals.length; i++) {
        this.allIntervals[this.visibleIntervals[i]].isActive = statusBoolean;
      }
      this.updateActiveIntervals();
    },
    updateActiveIntervals: function() {
      this.filteredIntervals = {};
      Object.keys(this.allIntervals).forEach(key => {
        if (this.allIntervals[key].isActive) {
          this.filteredIntervals[key] = this.allIntervals[key];
        }
      });
      this.$emit("update-active-intervals", this.filteredIntervals);
    },
    updateVisibleIntervals: function() {
      console.log(this.filter);
      if (this.filter === "") {
        this.visibleIntervals = Object.keys(this.allIntervals);
      } else {
        this.visibleIntervals = [];
        Object.keys(this.allIntervals).forEach(key => {
          if (key.toLowerCase().includes(this.filter.toLowerCase())) {
            this.visibleIntervals.push(key);
          }
        });
      }
    }
  }
};
</script>

<style>
.interval {
  cursor: pointer;
}
.interval.active {
  font-weight: bold;
}
.intervalCheckbox {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 100%;
}
</style>
