// TODO:
//  - "compare" button after incorrect guess is made
//  - add more piano samples 

<template>
  <div class="PracticeRoom">
    <button
      :disabled="!isLoaded || playbackInProgress"
      @click="handleClick"
    >{{ playedInterval ? "play again" : "play new interval"}}</button>
    <br />
    <form v-if="playedInterval" @submit="handleGuess">
      <p>Guess the interval:</p>
      <select v-model="guess" id="guess" name="Guess the Interval">
        <option v-for="(int, name) in activeIntervals" :key="name">{{ name }}</option>
      </select>
      <input type="submit" value="submit" />
    </form>
    <br />
    <p v-if="guessSubmitted">{{ feedback }}</p>
  </div>
</template>

<script>
import { Frequency, Sampler } from "tone";
import C4 from "@/assets/C4.wav";

function range(start, end) {
  var ret = [];
  for (let i = start; i < end; i++) {
    ret.push(i);
  }
  return ret;
}

function randomElement(arr) {
  return arr[(arr.length * Math.random()) << 0];
}

function randomKey(obj) {
  var keys = Object.keys(obj);
  return randomElement(keys);
}

export default {
  name: "PracticeRoom",
  props: {
    activeIntervals: Object,
    activeTab: String
  },
  data() {
    return {
      // intervals: require("@/assets/intervals.json")["Intervals"],
      currentInterval: {
        baseFrequency: 440,
        intervalName: "Perfect Unison",
        intervalRatio: 1,
        // duration in seconds
        duration: 1
      },
      isLoaded: false,
      playedInterval: false,
      playbackInProgress: false,
      guessSubmitted: false,
      guess: "No guess yet",
      answer: "",
      feedback: ""
    };
  },

  created() {
    this.sampler = new Sampler(
      { C4 },
      {
        onload: () => {
          this.isLoaded = true;
        }
      }
    ).toMaster();
    this.BASE_FREQS = range(48, 59).map(f =>
      Frequency(f, "midi").toFrequency()
    );
  },

  methods: {
    chooseRandomInterval: function() {
      this.currentInterval.intervalName = randomKey(this.activeIntervals);
      this.currentInterval.baseFrequency = randomElement(this.BASE_FREQS);
      this.currentInterval.intervalRatio = eval(
        this.activeIntervals[this.currentInterval.intervalName]["Ratio"]
      );
    },

    playInterval: function(baseFrequency, intervalRatio, duration) {
      // Prevent overlapping samples and clipping
      // by updating this flag and disabling the button

      this.playbackInProgress = true;
      // Why do we have to force the update?
      this.$forceUpdate();

      // wait for the duration
      setTimeout(() => {
        this.playbackInProgress = false;
        // again with the forcing...
        this.$forceUpdate();
      }, this.currentInterval.duration * 1000);
      // Play the intervals with sampler
      this.sampler.triggerAttackRelease(
        [baseFrequency, baseFrequency * intervalRatio],
        duration
      );
      this.playedInterval = true;
    },

    handleClick: function() {
      // Clear the previous feedback message
      if (this.guessSubmitted === true) {
        this.guessSubmitted = false;
      }
      // If this is the first time, make a new random interval
      try {
        if (this.playedInterval === false) {
          this.chooseRandomInterval();
          this.answer = this.currentInterval.intervalName;
        }
        this.playInterval(
          this.currentInterval.baseFrequency,
          this.currentInterval.intervalRatio,
          this.currentInterval.duration
        );
      } catch (err) {
        if (confirm("Please select at least one interval")) {
          console.log("switching tabs");
          this.$emit("switch-tab", "tab2");
        }
      }
    },

    handleGuess: function(e) {
      e.preventDefault();
      if (this.guess == this.answer) {
        this.feedback = `Great job! It's a ${this.answer}. Try again!`;
      } else {
        this.feedback = `Not quite! It's actually a ${this.answer}. Try again!`;
      }
      this.guess = "No guess yet";
      this.guessSubmitted = true;
      this.playedInterval = false;
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
</style>
