<template>
  <div id="app">
    <h1>Interval Training</h1>
    <div>
      <input type="radio" name="tabs" id="tab1" v-model="activeTab" value="tab1" />
      <label for="tab1">Practice</label>
      <input type="radio" name="tabs" id="tab2" v-model="activeTab" value="tab2" />
      <label for="tab2">Select Intervals</label>
      <input type="radio" name="tabs" id="tab3" v-model="activeTab" value="tab3" />
      <label for="tab3">Settings</label>
    </div>
    <practice-room
      v-bind:activeIntervals="activeIntervals"
      v-show="activeTab === 'tab1'"
      v-on:switch-tab="activeTab = $event"
    />
    <interval-selector
      v-on:update-active-intervals="activeIntervals = $event"
      v-show="activeTab === 'tab2'"
    />
    <advanced-settings v-show="activeTab === 'tab3'" />
  </div>
</template>

<script>
import PracticeRoom from "./components/PracticeRoom.vue";
import IntervalSelector from "./components/IntervalSelector.vue";
import AdvancedSettings from "./components/AdvancedSettings.vue";

export default {
  name: "App",
  data() {
    return {
      activeTab: "tab1",
      // Interval collection object will be emitted by IntervalSelector component
      activeIntervals: {}
    };
  },
  components: {
    PracticeRoom,
    IntervalSelector,
    AdvancedSettings
  }
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
